html, body{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: var(--bs-secondary-bg);
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-image{
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;
    height: 6.4vh;
    width: 6.4vh;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
}

.header-left h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 4px;
    font-weight: bold;
    color: var(--bs-primary);
    
    margin-top: 2px;
}

.header-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-tray{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.dropdown{
    margin-right: 8px;
    background-color: transparent !important;
}


.theme-logo{
    margin-right: 4px;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

@media (max-width: 767px) {

    body{
        padding: 0px;
    }

    header{
        padding-left: 5px;
        padding-right: 8px;
    }

    #header-right-content {
        display: none;
    }

    #menu-button {
        display: block;
    }

    #logo-image{
        border-radius: 25px;
        margin-left: 4px;
        height: 5vh;
        width: 5vh;
    }
    .header-left h3{
        font-size: small;
    }
    .header-center{
        display: none;
    }
    .py-5 {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    #about-me-feature{
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
    }

    #theme-btn-phn{
        margin-right: 15px;
    }
    #menu-button{
        margin-right: 5px;
    }

}

@media (min-width: 768px) {
    #header-right-content {
        display: flex;
    }

    #menu-button {
        display: none;
    }
    .py-5 {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
}


.content{
    display: flex;
}

footer svg{
    width: 25px;
    height: 25px;
}

#about-me-feature{
    margin-top: 1rem !important;
    margin-bottom: 2rem;
}

#theme-btn-phn{
    margin-right: 5px;
}